.headroom-wrapper,
.headroom {
  width: 100%;
  border-bottom: $border;
  background: #fff;
}

.headroom {
  &.headroom--pinned {
    box-shadow: 0 2px 4px #eee;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  margin: auto;

  > div {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.logo {
  h1 {
    visibility: hidden;
    position: absolute;
  }

  a {
    display: flex;
  }

  img {
    height: 50px;
  }
}

.search {
  max-width: 400px;

  form {
    position: relative;
  }

  button {
    width: 30px;
    height: 30px;
    color: #fff;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  svg {
    width: 50% !important;
    height: 50%;
  }

  p {
    text-align: center;
  }

  strong {
    color: $red;
  }
}

nav {
  display: flex;
  justify-content: flex-end;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    width: 18px !important;
    height: 18px !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .search {
    input {
      width: 400px;
    }
  }
}
