.landing-header {
  justify-content: flex-end;
  margin-bottom: 20vh;

  nav {
    visibility: visible;
    opacity: 1;
    position: static;
  }

  @include nav-large;
}

.landing-main {
  width: 100%;
  max-width: 400px;
  margin: auto;

  .logo {
    margin-bottom: 20px;

    a {
      width: auto;
      justify-content: center;
    }

    img {
      width: 300px;
      height: auto;
    }
  }

  form {
    margin-bottom: 10px;
  }

  input {
    font-size: 24px;
  }

  button {
    width: 40px;
    height: 40px;
  }
}
