.lyrics {
  .streams,
  .lyrics-container {
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 20px 10px;
  }

  .streams {
    padding: 20px 40px;
    margin-bottom: 10px;
  }

  .lyrics-container {
    padding: 20px 10px;
  }

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 10px;

    iframe,
    object,
    embed {
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .providers {
    display: flex;
    justify-content: center;

    a,
    svg {
      width: 40px;
      height: 40px;
    }

    a {
      margin: 0 5px;
    }

    svg {
      @include color-hover;
    }
  }

  .checkbox-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    margin: 0 10px;
    position: relative;
    cursor: pointer;

    input {
      opacity: 0;
      position: absolute;
      cursor: pointer;

      &:checked {
        ~ .checkbox-custom {
          &::before {
            opacity: 0;
            visibility: hidden;
            width: 28px;
            height: 28px;
            z-index: 999;
            transform: scale(3);
            transition: all 0.4s;
          }

          &::after {
            width: 6px;
            height: 12px;
            top: 5px;
            left: 10px;
            transform: rotate(45deg) scale(1);
          }
        }
      }
    }

    .checkbox-custom {
      height: 28px;
      width: 28px;
      background: $red;
      border-radius: 4px;
      margin-right: 10px;
      position: relative;
      transition: all 0.4s;

      &::before {
        content: '';
        background: $pink;
        border-radius: 4px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale(0);
      }

      &::after {
        content: '';
        width: 0px;
        height: 0px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        position: absolute;
        top: 14px;
        left: 14px;
        transform: rotate(45deg) scale(0);
        transition: all 0.4s;
      }
    }
  }

  .lyrics-content {
    transition: all 0.6s;

    &.hide {
      opacity: 0;
    }

    &.learn-section {
      .lyrics-section-content {
        > div {
          &:last-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .lyrics-section {
    .section-button {
      height: 40px;
      padding: 0;
      margin-bottom: 10px;
      transition: all 0.6s;

      svg {
        width: 20px;
        height: 20px;
      }

      &.hide {
        opacity: 0;
        height: 0;

        svg {
          height: 0;
        }
      }
    }

    > div {
      overflow: hidden;
      transition: all 0.6s;
    }
  }

  .lyrics-line {
    display: flex;
    align-items: center;
    margin: 0 0 4px;

    .line-button {
      width: 20px;
      height: 20px;
      color: $pink;
      background: none;
      padding: 0;
      margin-right: 10px;
      transition: all 0.6s;

      svg {
        width: 20px;
        height: 20px;
      }

      &.hide {
        opacity: 0;
        visibility: hidden;
      }
    }

    p {
      opacity: 1;
      transition: all 0.6s;

      &.hide {
        opacity: 0;
      }
    }
  }
}
