.search-results {
  .search-query {
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 20px 10px;
    margin-bottom: 10px;
  }

  li {
    @include shadow;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .item-details {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin-right: 10px;
  }

  .track-list,
  .artist-list {
    p {
      margin: 0;

      &.item-title {
        margin-bottom: 2px;
      }
    }
  }
}
