.search-results {
  .search-query {
    text-align: center;
  }

  li {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .item-details {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin-right: 10px;

    &.artist-thumbnail {
      display: block;
      width: 160px;
      height: 160px;
      margin: 0 auto 20px;
    }
  }

  .track-list,
  .artist-list {
    p {
      margin: 0;

      &.item-title {
        margin-bottom: 2px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .search-results {
    .list-container {
      display: flex;

      .track-list,
      .artist-list {
        flex: 1;
      }
    }
  }
}
