.search-results {
  .search-query {
    text-align: center;
  }

  .list-container {
    display: flex;

    > div {
      flex: 1;
    }
  }

  li {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
  }

  img {
    width: 100px;
    height: 100px;
  }
}
