@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Roboto&display=swap');

h1 {
  text-indent: -9999px;
}

body,
button {
  font-family: 'Roboto', sans-serif;
}

input {
  font-size: 24px;
}
