@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Roboto&display=swap');

h1 {
  font-family: 'MuseoModerno', cursive;
  text-align: center;
}

body,
button {
  font-family: 'Roboto', sans-serif;
}

input {
  font-size: 24px;
}
