$white: snow;
$pink: #f7a3c0;
$red: #e04666;
$red-dark: #a6001f;
$lychee: #f7dfd4;
$brown: #472816;
$green: #6bb745;
$green-dark: #5ca943;
$border: 1px solid #eee;

@mixin color-hover {
  color: $red;
  transition: color 0.2s;

  &:hover {
    color: $green-dark;
  }
}

@mixin shadow {
  border: $border;
  box-shadow: 0 2px 4px #eee;
}

@mixin nav-large {
  .button-group {
    flex-direction: row;
  }

  button {
    font-size: 16px;
    color: $brown;
    padding: 10px;
    background: none;
    border-radius: 4px;

    &:hover {
      color: $green-dark;
      background: none;
    }
  }
}
